.barrinha-menu {
    height: 4px;
    width: 35px;
    background-color: #000;
    display: block;
    margin: 4px;
    transition: width 2s ease, margin-left 2s ease;
  }

.nav-bar {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px grey;
    width: auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    margin-top: 15px;
    color: orange;
}

h4 {
    font-family: 'Roboto', sans-serif;
    margin-left: 4px; 
    color: rgba(0, 0, 0, 0.863); 
}


.barras {
    margin-left: 82%; 
    margin-top: 25px;
}

.elementos {
    margin-left: 20%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1110;
    height: 1000;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    margin-top: 15px;
    color: black;
}

.img{
    width: 100%;
}

.text2{
    width: 350px;
    height: 100px;
}

.img3{
    width: 100%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    margin-top: 15px;
    color: black;
}

.text1{
    width: 350px;
    height: 100px;
}

.img2{
    width: 100%;
}

.box1{
    margin-top: 70px;
    height: 450px;
    width: 470px;
    background: #EEEEEE;
}


.box2{
    margin-top: 70px;
    height: 450px;
    width: 470px;
    background: #EEEEEE;
    margin-left: 170px;
}

.sales {
    margin-left: 6.5%;
    display: flex;
    justify-content: space-between;
}

.saleoffer {
    background-color: #DC9730;
    border-radius: 30px;
    margin-right: 10%;
    width: 56px;
    height: 21px;
    text-align: center;
    color: white;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}